#header{
    background-image: url("../images/back3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: center;
    padding-top: 0px;
    margin-top:0px;
    margin-left:0px;
}


#ul {
    display: table;
    margin-top: 130px;
    padding-left: 130px;
    font-size:x-large;
}
#search{
    float: right;

}
#image{
    margin-top:50px ;
    margin-left: 0px;
    padding-left:0px;
}
#hot{
    border:2px solid black;

}
#right{
    display:table;
    margin: 0px;
    padding-top:140px;
    padding-left:100px;
}
#footer{
    background-color: #adadad;
    margin-top: 200px;
}
#tag a{
    margin: 50px;
    color: midnightblue;
    font-size: large;
}
#product{
    height: 1290px;
}

#content{
    background-color: whitesmoke;
    background-size: 1600px 1400px;
    background-repeat: no-repeat;
   margin:0px;
    margin-top: 20px;
    padding: 0px;
}
#all{
    background-color:whitesmoke;
}
#over{
    overflow: hidden;
}
#contenttext{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#thum{
    margin-right: 30px;
    margin-left:30px;
    width:300px ;
    height:320px;

}
#pimage{
    width: 170px;
    height: 140px;
}
#title{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
