<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
        <meta charset="UTF-8">
        <title>Nature Camper</title>
<!--视口/视觉窗口标签:meta, 宽度=设备宽度，初始化缩放比例1， 是否允许用户缩放页面:no -->
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
<!-- 扩展对低版本IE支持,开启IE兼容模式-->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Bootstrap核心css -->
<link rel="stylesheet" type="text/css" href="./bootstrap3/css/bootstrap.css">
<!-- 字体图标 -->
<link rel="stylesheet" type="text/css" href="./bootstrap3/font-awesome-4.7.0/css/font-awesome.css">
<link rel="stylesheet" type="text/css" href="./css/logo.css">
        <script src="browser_components/vue/dist/vue.js"></script>
</head>
<body id="all">
<!--頁頭開始-->
        <header class="container-fluid" id="header">
                <div class="row">
                <div class="col-md-3" id="image">
                        <image src="./images/logo.png"></image>
                </div>
                <div class="col-md-7" id="top"  th:fragment="head" >
                        <ul class="nav nav-pills" id="ul">
                                <li role="presentation"><a href="/index.html" style="color: #080808"><b>首頁</b></a></li>
                                <li role="presentation"><a href="/index_type1.html" style="color: #080808"><b>帳篷</b></a></li>
                                <li role="presentation"><a href="/index_type2.html" style="color: #080808"><b>天幕</b></a></li>
                                <li role="presentation"><a href="/index_type3.html" style="color: #080808"><b>氣墊床</b></a></li>
                                <li role="presentation"><a href="/car.html" style="color: #080808"><b>購物車</b><span class="badge" v-text="CarVo.row">42</span></a></li>
                        </ul>
                </div>
                        <div class="col-md-2" id="right" th:fragment="Info">
                        <div id="my">
                                <div class="dropdown">
                                        <b><span>使用者:</span></b>
                                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="border: none">
                                                <span v-text="userVo.nickname"></span>
                                                <span class="caret" ></span>
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                                <li><a href="/shopList.html">我的購物清單</a></li>
                                                <li><a href="/changePassword.html" v-bind:href="'/changePassword.html?'+userVo.id">更改密碼</a></li>
                                                <li><a href="/logout">登出</a></li>
                                        </ul>
                                </div>
                        </div>
                        </div>
                </div>
        </header>
<!--頁頭結束-->
<!--內容開始-->
<div class="container-fluid" id="content">
        <div class="row">
        <!--商品左側開始-->
                <div id="App"  th:fragment="pd">
        <div class="col-md-9" id="product">
                <div class="row">
                        <div>
                        <div class="col-md-4" v-for="p in products">
                                <div class="thumbnail" id="thum">
                                        <a href="#" v-bind:href="'/product.html?'+p.id"><img v-bind:src="'/images/'+p.images" alt="..." id="pimage" ></a>
                                        <div style="margin: 0px ; padding: 0px" align="center">
                                                <h4 id="title" align="center" v-text="p.title">印地安3人帳</h4>
                                                <p id="contenttext" v-text="p.content">長:300公分,寬:600公分,重:1公斤,防水防紫外線,簡單輕便,好攜帶...</p>
                                                <div style="margin-bottom: 0px; padding: 0px">
                                                        <p style="font-size: x-large" align="center"><span>價格為:</span>$<span v-text="p.price">2500</span></p>
                                                <p align="right"><a href="/product.html" v-bind:href="'/product.html?'+p.id"  class="btn btn-primary" role="button">查看詳情</a>
                                                        <a href="#" v-on:click.prevent="gotocar(p.id)" class="btn btn-primary" role="button">加入購物車</a></p>
                                                </div>
                                        </div>
                                </div>
                        </div>
                        </div>
                </div>
                <div style="position: absolute;bottom: 0px;left: 50%;transform: translate(-50%,-50%) ">
                        <nav aria-label="Page navigation">
                                <ul class="pagination">
                                        <li>
                                                <a href="#" aria-label="Previous" v-on:click.prevent="getproduct(pageInfo.prePage)">
                                                        <span aria-hidden="false">«</span>
                                                </a>
                                        </li>
                                        <li><a href="#" v-for="n in pageInfo.navigatepageNums" v-on:click.prevent="getproduct(n)" v-bind:class="{'bg-secondary text-light': n===pageInfo.pagenum}"><span v-text="n">1</span></a></li>
                                        <li>
                                                <a href="#" aria-label="Next" v-on:click.prevent="getproduct(pageInfo.nextPage)">
                                                        <span aria-hidden="false">»</span>
                                                </a>
                                        </li>
                                </ul>
                        </nav>
                </div>
        </div>
                </div>
        <!--商品左側結束-->
        <!--商品右側開始-->
        <div class="col-md-3">
                <div><span style="margin-left:20px; font-weight: bold; font-size: medium">商品搜尋:</span></div>

                <form class="navbar-form navbar-left" role="search" method="get" action="#">
                        <div class="form-group">
                                <input type="text" class="form-control" placeholder="請輸入商品">
                        </div>
                        <button type="submit" class="btn btn-default">搜尋</button>
                </form>
        </div>
        <!--分頁-->

        <!--熱門商品-->
        <div class="col-md-3"  id="hotp" th:fragment="hot">
       <div style="margin-left: 20px;font-size:medium"><b><span>熱門商品:</span></b></div>

                <div v-for="hot in product">
                        <a href="#" v-bind:href="'/product.html?'+hot.id">
                                <image src="./images/1-2.jpg"  v-bind:src="'./images/'+hot.images" style="width: 350px;height: 250px"></image>
                               <p v-text="hot.title">
                                        《ATUNAS歐都納》5-6人前延伸雙門快速帳/露營帳篷
                               </p>
                        </a>
                </div>

        </div>
        <!--右側結束-->
        </div>
</div>
<!--內容結束-->
<!--內容腳開始-->
<footer id="footer">
<div style="margin:60px" align="center">
        <p id="tag">
                <a href="#">FACEBOOK</a>
                <a href="#">YOUTOBE</a>
                <a href="#">GOOGLE</a>
                <a href="#">YAHOO</a>
                <a href="#">INSTAGRAM</a>
        </p>
</div>
        <div align="center">
                <p style="font-size: large ">2022 © NatureCamper </p>
                <p style="font-size: large ">Contact:123-4567-789</p>
                <p style="font-size: large ">服務時間: 星期一到五 09:00 - 18:30</p>
                <p style="font-size: large ">信箱 :NatureCamper@Camper.tw</p>
        </div>


</footer>
<!--內容腳結束-->

















</body>
<!-- jQuery 1.12.4 依赖 -->
<script type="text/javascript" src="./bootstrap3/jquery.min.js"></script>
<!-- Bootstrap核心js -->
<script type="text/javascript" src="./bootstrap3/js/bootstrap.js"></script>
<!-- 图片占位，解决低版本IE不支持圆角的问题-->
<script type="text/javascript" src="./bootstrap3/js/holder.js"></script>
<!-- 引入T5和C3的js函数库，支持旧版浏览器-->
<script type="text/javascript" src="./bootstrap3/js/html5shiv.min.js"></script>
<script type="text/javascript" src="./bootstrap3/js/css3-mediaqueries.js"></script>
<script type="text/javascript" src="./bootstrap3/js/respond.min.js"></script>
<script src="/js/product.js"></script>
<script src="/js/utils.js"></script>
<script src="/js/user.js"></script>
<script src="/js/Hotproduct.js"></script>
</html>