<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Login</title>
    <!--视口/视觉窗口标签:meta, 宽度=设备宽度，初始化缩放比例1， 是否允许用户缩放页面:no -->
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
    <!-- 扩展对低版本IE支持,开启IE兼容模式-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Bootstrap核心css -->
    <link rel="stylesheet" type="text/css" href="./bootstrap3/css/bootstrap.css">
    <!-- 字体图标 -->
    <link rel="stylesheet" type="text/css" href="./bootstrap3/font-awesome-4.7.0/css/font-awesome.css"/>
    <link rel="stylesheet" type="text/css" href="./css/login.css">
    <link rel="stylesheet" type="text/css" href="./css/logo.css">
    <script src="browser_components/vue/dist/vue.js"></script>

  </head>

<body id="back">
<div class="container-fluid">
  <div align="center" style="margin-bottom: 80px">
    <H1 style="font-family: Arial">NatureCamper 修改密碼</H1>
  <image src="./images/logo.png"></image>
  </div>


  <div align="center" style="border: black;border-width: 3px; margin-left: -20px" id="change">
    <form method="post" action="/change" v-on:submit.prevent="ch">
      <span style="font-size: large ;font-weight: bold;margin-left: -53px" >原有密碼:</span>
      <input type="password" placeholder="請輸入原密碼" size="30px" name="password" v-model="oldpassword"><br><br>
      <span style="font-size: large ;font-weight: bold;margin-left: -53px" >修改密碼:</span>
      <input type="password" placeholder="請輸入修改密碼" size="30px" name="password" v-model="password"><br><br>
      <span style="font-size: large ;font-weight: bold; margin-left: -88px">修改密碼確認:</span>
      <input type="password" placeholder="請輸入修改密碼" size="30px" name="confirm" v-model="confirm"><br><br>
      <button type="submit" class="btn btn-primary" style="margin-left: 20px">確認修改</button>
    </form>
  </div>


  <footer id="footer">
    <div style="margin:60px" align="center">
      <p id="tag">
        <a href="#">FACEBOOK</a>
        <a href="#">YOUTOBE</a>
        <a href="#">GOOGLE</a>
        <a href="#">YAHOO</a>
        <a href="#">INSTAGRAM</a>
      </p>
    </div>
    <div align="center">
      <p style="font-size: large ">2022 © NatureCamper </p>
      <p style="font-size: large ">Contact:123-4567-789</p>
      <p style="font-size: large ">服務時間: 星期一到五 09:00 - 18:30</p>
      <p style="font-size: large ">信箱 :NatureCamper@Camper.tw</p>
    </div>
  </footer>
</div>
</body>
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="/js/change.js"></script>
<script src="/js/utils.js"></script>
</html>